@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  font-size: 16px;
  line-height: 24px;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 11px;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: #666666;
}

img {
  max-width: 100%;
}

.color-blue {
  color: #4267b2;
}

.bg-blue {
  background-color: #4267b2;
}

.color-orange {
  color: #fbb96b;
}

.bg-orange {
  background-color: #fbb96b;
}

.color-pink {
  color: #fe7e73;
}

.bg-pink {
  background-color: #fe7e73;
}

.color-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.color-black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.color-main {
  color: #666666;
}

.bg-main {
  background-color: #666666;
}

.color-red {
  color: #ff0000;
}

.bg-red {
  background-color: #ff0000;
}

.grid-col-0 {
  -ms-grid-columns: (1fr)[0];
      grid-template-columns: repeat(0, 1fr);
}

.grid-col-1 {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.grid-col-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.grid-col-5 {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.grid-col-6 {
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.grid-col-7 {
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.grid-col-8 {
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

@media only screen and (max-width: 991px) {
  .grid-col-md-0 {
    -ms-grid-columns: (1fr)[0];
        grid-template-columns: repeat(0, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .grid-col-md-1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .grid-col-md-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .grid-col-md-3 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .grid-col-md-4 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .grid-col-md-5 {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .grid-col-md-6 {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .grid-col-md-7 {
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .grid-col-md-8 {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .grid-col-sm-0 {
    -ms-grid-columns: (1fr)[0];
        grid-template-columns: repeat(0, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .grid-col-sm-1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .grid-col-sm-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .grid-col-sm-3 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .grid-col-sm-4 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .grid-col-sm-5 {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .grid-col-sm-6 {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .grid-col-sm-7 {
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .grid-col-sm-8 {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

@media only screen and (max-width: 991px) {
  .container {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all .45s ease-in-out;
  transition: all .45s ease-in-out;
  z-index: 99;
  height: 4rem;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.header .container {
  height: 100%;
  max-width: 1320px;
}

@media only screen and (max-width: 991px) {
  .header .container {
    max-width: 100%;
  }
}

.header__logo {
  width: 145px;
  margin-right: 100px;
}

@media only screen and (max-width: 991px) {
  .header__logo {
    margin-right: 0;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .header__logo {
    width: 100px;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  font-size: 14px;
}

.header__menu__mobile-toggle {
  display: none;
}

@media only screen and (max-width: 991px) {
  .header__menu__mobile-toggle {
    display: block;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 991px) {
  .header__menu__item ~ .header__menu__item {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .header__menu__item ~ .header__menu__item {
    margin-left: 10px;
  }
}

.header__menu__item .active {
  font-weight: 600;
  color: #000;
}

.header__menu__item:hover {
  color: #666666;
}

.header__menu__left, .header__menu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-weight: 500;
  gap: 20px;
}

@media only screen and (max-width: 991px) {
  .header__menu__left, .header__menu__right {
    gap: 14px;
  }
}

.header__menu__right {
  font-size: 1.5rem;
}

.header__menu__right__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .header__menu__right__item {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .header__menu__right {
    font-size: 16px;
  }
}

.header__menu__left__close {
  display: none;
}

@media only screen and (max-width: 991px) {
  .header__menu__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 32px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  .header__menu__left.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header__menu__left__item ~ .header__menu__left__item {
    margin-left: unset;
    margin-top: 24px;
  }
  .header__menu__left__close {
    display: block;
    position: absolute;
    left: 20px;
    font-size: 2rem;
  }
}

.debound-scroll {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.container--search {
  height: 15vh;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  top: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  width: 100%;
  max-width: 100%;
  position: fixed;
  z-index: 100;
  background: #fff;
}

.container--search .logo--search {
  width: 145px;
  height: 35px;
}

.container--search .logo--search img {
  width: 100%;
  height: 100%;
}

.container--search .right--options {
  gap: 20px;
}

.container--search .right--options i {
  font-size: 20px;
}

.container--search .title--search {
  padding-bottom: 16px;
  line-height: 24px;
  font-size: 16px;
  text-transform: capitalize;
  display: none;
}

.container--search .close--btn {
  cursor: pointer;
}

.container--search .close--btn i {
  font-size: 22px;
}

.container--search .input--search {
  width: 60%;
  position: relative;
}

.container--search .input--search input {
  width: 100%;
  padding: 12px 40px 12px 20px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 4px;
}

.container--search .input--search i {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media only screen and (max-width: 991px) {
  .container--search {
    display: block;
  }
  .container--search .logo--search, .container--search .right--options {
    display: none;
  }
  .container--search .input--search {
    width: 100%;
  }
}

.model {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
}

.reset--translate {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.container-form {
  height: 100vh;
}

.container-form .title--form p {
  text-transform: capitalize;
}

.container-form .title--form ul {
  list-style: none;
}

.container-form .title--form ul i {
  margin: 0 16px;
  font-size: 14px;
}

.container--login {
  max-width: 928px;
  margin: 0 auto;
}

.container--login h5 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 24px;
}

.container--login a {
  text-decoration: underline !important;
}

.container--login .register--container p {
  line-height: 32px;
}

.container--login button {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.container--login button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

@media only screen and (max-width: 991px) {
  .container--login {
    display: block !important;
  }
  .container--login .register--container {
    padding-top: 50px;
  }
  .container--login .register--container p {
    font-size: 14px;
  }
}

.error--message {
  color: red;
}

.error--input {
  border-color: red;
}

.ml-2 {
  margin-left: 2px;
}

.pl-2 {
  padding-left: 2px;
}

.mr-2 {
  margin-right: 2px;
}

.pr-2 {
  padding-right: 2px;
}

.mb-2 {
  margin-bottom: 2px;
}

.pb-2 {
  padding-bottom: 2px;
}

.mt-2 {
  margin-top: 2px;
}

.pt-2 {
  padding-top: 2px;
}

.ml-4 {
  margin-left: 4px;
}

.pl-4 {
  padding-left: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.pr-4 {
  padding-right: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.pb-4 {
  padding-bottom: 4px;
}

.mt-4 {
  margin-top: 4px;
}

.pt-4 {
  padding-top: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.pl-8 {
  padding-left: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.pr-8 {
  padding-right: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.pb-8 {
  padding-bottom: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.pt-8 {
  padding-top: 8px;
}

.ml-10 {
  margin-left: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.ml-12 {
  margin-left: 12px;
}

.pl-12 {
  padding-left: 12px;
}

.mr-12 {
  margin-right: 12px;
}

.pr-12 {
  padding-right: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

.pb-12 {
  padding-bottom: 12px;
}

.mt-12 {
  margin-top: 12px;
}

.pt-12 {
  padding-top: 12px;
}

.ml-14 {
  margin-left: 14px;
}

.pl-14 {
  padding-left: 14px;
}

.mr-14 {
  margin-right: 14px;
}

.pr-14 {
  padding-right: 14px;
}

.mb-14 {
  margin-bottom: 14px;
}

.pb-14 {
  padding-bottom: 14px;
}

.mt-14 {
  margin-top: 14px;
}

.pt-14 {
  padding-top: 14px;
}

.ml-16 {
  margin-left: 16px;
}

.pl-16 {
  padding-left: 16px;
}

.mr-16 {
  margin-right: 16px;
}

.pr-16 {
  padding-right: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.pb-16 {
  padding-bottom: 16px;
}

.mt-16 {
  margin-top: 16px;
}

.pt-16 {
  padding-top: 16px;
}

.ml-18 {
  margin-left: 18px;
}

.pl-18 {
  padding-left: 18px;
}

.mr-18 {
  margin-right: 18px;
}

.pr-18 {
  padding-right: 18px;
}

.mb-18 {
  margin-bottom: 18px;
}

.pb-18 {
  padding-bottom: 18px;
}

.mt-18 {
  margin-top: 18px;
}

.pt-18 {
  padding-top: 18px;
}

.ml-20 {
  margin-left: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.mr-20 {
  margin-right: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.ml-24 {
  margin-left: 24px;
}

.pl-24 {
  padding-left: 24px;
}

.mr-24 {
  margin-right: 24px;
}

.pr-24 {
  padding-right: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.pb-24 {
  padding-bottom: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.pt-24 {
  padding-top: 24px;
}

.ml-28 {
  margin-left: 28px;
}

.pl-28 {
  padding-left: 28px;
}

.mr-28 {
  margin-right: 28px;
}

.pr-28 {
  padding-right: 28px;
}

.mb-28 {
  margin-bottom: 28px;
}

.pb-28 {
  padding-bottom: 28px;
}

.mt-28 {
  margin-top: 28px;
}

.pt-28 {
  padding-top: 28px;
}

.ml-32 {
  margin-left: 32px;
}

.pl-32 {
  padding-left: 32px;
}

.mr-32 {
  margin-right: 32px;
}

.pr-32 {
  padding-right: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.pb-32 {
  padding-bottom: 32px;
}

.mt-32 {
  margin-top: 32px;
}

.pt-32 {
  padding-top: 32px;
}

.ml-40 {
  margin-left: 40px;
}

.pl-40 {
  padding-left: 40px;
}

.mr-40 {
  margin-right: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pb-40 {
  padding-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.ml-56 {
  margin-left: 56px;
}

.pl-56 {
  padding-left: 56px;
}

.mr-56 {
  margin-right: 56px;
}

.pr-56 {
  padding-right: 56px;
}

.mb-56 {
  margin-bottom: 56px;
}

.pb-56 {
  padding-bottom: 56px;
}

.mt-56 {
  margin-top: 56px;
}

.pt-56 {
  padding-top: 56px;
}

.ml-64 {
  margin-left: 64px;
}

.pl-64 {
  padding-left: 64px;
}

.mr-64 {
  margin-right: 64px;
}

.pr-64 {
  padding-right: 64px;
}

.mb-64 {
  margin-bottom: 64px;
}

.pb-64 {
  padding-bottom: 64px;
}

.mt-64 {
  margin-top: 64px;
}

.pt-64 {
  padding-top: 64px;
}

.ml-100 {
  margin-left: 100px;
}

.pl-100 {
  padding-left: 100px;
}

.mr-100 {
  margin-right: 100px;
}

.pr-100 {
  padding-right: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.f-2 {
  font-size: 2px;
}

.gap-2 {
  gap: 2px;
}

.f-4 {
  font-size: 4px;
}

.gap-4 {
  gap: 4px;
}

.f-8 {
  font-size: 8px;
}

.gap-8 {
  gap: 8px;
}

.f-10 {
  font-size: 10px;
}

.gap-10 {
  gap: 10px;
}

.f-12 {
  font-size: 12px;
}

.gap-12 {
  gap: 12px;
}

.f-14, .error--message, .btn, input, input::-webkit-input-placeholder {
  font-size: 14px;
}

.f-14, .error--message, .btn, input, input:-ms-input-placeholder {
  font-size: 14px;
}

.f-14, .error--message, .btn, input, input::-ms-input-placeholder {
  font-size: 14px;
}

.f-14, .error--message, .btn, input, input::placeholder {
  font-size: 14px;
}

.gap-14 {
  gap: 14px;
}

.f-16 {
  font-size: 16px;
}

.gap-16 {
  gap: 16px;
}

.f-18 {
  font-size: 18px;
}

.gap-18 {
  gap: 18px;
}

.f-20 {
  font-size: 20px;
}

.gap-20 {
  gap: 20px;
}

.f-24 {
  font-size: 24px;
}

.gap-24 {
  gap: 24px;
}

.f-28 {
  font-size: 28px;
}

.gap-28 {
  gap: 28px;
}

.f-32 {
  font-size: 32px;
}

.gap-32 {
  gap: 32px;
}

.f-40 {
  font-size: 40px;
}

.gap-40 {
  gap: 40px;
}

.f-56 {
  font-size: 56px;
}

.gap-56 {
  gap: 56px;
}

.f-64 {
  font-size: 64px;
}

.gap-64 {
  gap: 64px;
}

.f-100 {
  font-size: 100px;
}

.gap-100 {
  gap: 100px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-between {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.btn {
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  line-height: 24px;
}

.btn-blue {
  color: #fff;
  background: #4267b2;
}

.btn-orange {
  color: #fff;
  background: #fbb96b;
}

.btn-pink {
  color: #fff;
  background: #fe7e73;
}

.btn-white {
  background: #fff;
}

.btn-black {
  color: #fff;
  background: #000;
}

.btn-main {
  color: #fff;
  background: #666666;
}

.btn-red {
  color: #fff;
  background: #ff0000;
}

input {
  padding: 12px 16px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 4px;
}

.form-group input {
  width: 100%;
}
/*# sourceMappingURL=index.css.map */