@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 11px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: #666666;
}

img {
  max-width: 100%;
}

.color-blue {
  color: #4267b2;
}

.bg-blue {
  background-color: #4267b2;
}

.color-orange {
  color: #fbb96b;
}

.bg-orange {
  background-color: #fbb96b;
}

.color-pink {
  color: #fe7e73;
}

.bg-pink {
  background-color: #fe7e73;
}

.color-white {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.color-black {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.color-main {
  color: #666666;
}

.bg-main {
  background-color: #666666;
}

.color-red {
  color: #ff0000;
}

.bg-red {
  background-color: #ff0000;
}

.grid-col-0 {
  -ms-grid-columns: (1fr)[0];
      grid-template-columns: repeat(0, 1fr);
}

.grid-col-1 {
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.grid-col-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.grid-col-5 {
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.grid-col-6 {
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.grid-col-7 {
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
}

.grid-col-8 {
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
}

@media only screen and (max-width: 991px) {
  .grid-col-md-0 {
    -ms-grid-columns: (1fr)[0];
        grid-template-columns: repeat(0, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .grid-col-md-1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .grid-col-md-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .grid-col-md-3 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .grid-col-md-4 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .grid-col-md-5 {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .grid-col-md-6 {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .grid-col-md-7 {
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen and (max-width: 991px) {
  .grid-col-md-8 {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .grid-col-sm-0 {
    -ms-grid-columns: (1fr)[0];
        grid-template-columns: repeat(0, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .grid-col-sm-1 {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .grid-col-sm-2 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .grid-col-sm-3 {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .grid-col-sm-4 {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .grid-col-sm-5 {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .grid-col-sm-6 {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .grid-col-sm-7 {
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .grid-col-sm-8 {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

@media only screen and (max-width: 991px) {
  .container {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-block {
  display: block;
}

.d-grid {
  display: -ms-grid;
  display: grid;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all .45s ease-in-out;
  transition: all .45s ease-in-out;
  z-index: 99;
  height: 4rem;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.header .container {
  height: 100%;
  max-width: 1320px;
}

@media only screen and (max-width: 991px) {
  .header .container {
    max-width: 100%;
  }
}

.header__logo {
  width: 145px;
  margin-right: 100px;
}

@media only screen and (max-width: 991px) {
  .header__logo {
    margin-right: 0;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .header__logo {
    width: 100px;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  font-size: 14px;
}

.header__menu__mobile-toggle {
  display: none;
}

@media only screen and (max-width: 991px) {
  .header__menu__mobile-toggle {
    display: block;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 991px) {
  .header__menu__item ~ .header__menu__item {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 991px) {
  .header__menu__item ~ .header__menu__item {
    margin-left: 10px;
  }
}

.header__menu__item .active {
  font-weight: 600;
  color: #000;
}

.header__menu__item:hover {
  color: #666666;
}

.header__menu__left, .header__menu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-weight: 500;
  gap: 20px;
}

@media only screen and (max-width: 991px) {
  .header__menu__left, .header__menu__right {
    gap: 14px;
  }
}

.header__menu__right {
  font-size: 1.5rem;
}

.header__menu__right__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .header__menu__right__item {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .header__menu__right {
    font-size: 16px;
  }
}

.header__menu__left__close {
  display: none;
}

@media only screen and (max-width: 991px) {
  .header__menu__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 32px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  .header__menu__left.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header__menu__left__item ~ .header__menu__left__item {
    margin-left: unset;
    margin-top: 24px;
  }
  .header__menu__left__close {
    display: block;
    position: absolute;
    left: 20px;
    font-size: 2rem;
  }
}

.debound-scroll {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.container--search {
  height: 15vh;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  top: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  width: 100%;
  max-width: 100%;
  position: fixed;
  z-index: 100;
  background: #fff;
}

.container--search .logo--search {
  width: 145px;
  height: 35px;
}

.container--search .logo--search img {
  width: 100%;
  height: 100%;
}

.container--search .right--options {
  gap: 20px;
}

.container--search .right--options i {
  font-size: 20px;
}

.container--search .title--search {
  padding-bottom: 16px;
  line-height: 24px;
  font-size: 16px;
  text-transform: capitalize;
  display: none;
}

.container--search .close--btn {
  cursor: pointer;
}

.container--search .close--btn i {
  font-size: 22px;
}

.container--search .input--search {
  width: 60%;
  position: relative;
}

.container--search .input--search input {
  width: 100%;
  padding: 12px 40px 12px 20px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 4px;
}

.container--search .input--search i {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media only screen and (max-width: 991px) {
  .container--search {
    display: block;
  }
  .container--search .logo--search, .container--search .right--options {
    display: none;
  }
  .container--search .input--search {
    width: 100%;
  }
}

.model {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
}

.reset--translate {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
/*# sourceMappingURL=index.css.map */