input {
    padding: 12px 16px;
    border: 1px solid #ddd;
    outline: none;
    @extend .f-14;
    &::placeholder {
        @extend .f-14;
    }
    border-radius: 4px;
}
.form-group {
    input {
        width: 100%;
    }
}